*{
  padding: 0;
  margin: 0;
  font-family: "Estonia", cursive;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home-component {
  width: 75%;
  text-align: center;
  margin:auto;
}

.jokes {
  height: 350px;
}

nav .logo {
  width: auto ;
  height: 120px;
}

footer {
  text-align: center;
  height: 180px;
}